body {
    background-color: black;
}

.cover {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
}

.video-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

.video-container video {
    width: 90%;
    height: 90%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%,-50%);
}

.navBar {
    justify-content: space-between;
    align-content: space-between;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    margin-left: 10px;
    z-index: 40;
}